*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
img{
    border: 0;
}
html{
    font-size: 100px;
}
body{
    font-size: 20px;
    background: #F7F7A5;
}
$screen-size:320px,360px,375px,412px,414px;
$design-size:750px;
@each $w in $screen-size{
    @media screen and (min-width:#{$w}){
        html{
            font-size: 100px * $w/$design-size;
        }
    }
}
.head{
    height: 2rem;
    background: #F6F6F6;
    position: relative; 
    padding: 0 0.1rem;
    margin-bottom: 0.1rem;       
    border-bottom:0.01rem solid #ccc;
    .today{
        height:1rem;
        width: 2rem;
        font-family: "微软雅黑";
        padding:0.2rem 0;
        font-size: 20px;
    }
    input{
        height: 0.8rem;
        background:#fff;
        width: 100%;
        outline: none; 
        border: 0; 
        box-shadow: 0 0 0.04rem #F6F6F6; 
        border-radius:0.4rem 0.4rem 0.4rem 0.4rem;    
    }
    .add{
        height: 0.8rem;
        width: 0.8rem;
        position: absolute;
        right:0;
        top:0.1rem;
        background: red;
        color: #fff;
        text-align: center;
        line-height: 0.5rem;
//      border-radius: 50%;
        overflow: hidden;
        img{
            display: block;
            height:0.8rem;
            width:0.8rem;
        }
    }
}
.todolist{
    width: 100%;
    height: auto;
    li{
        height: 3rem;
        width: 50%;
        float: left;
        padding: 0.1rem;
        margin-bottom: 0.1rem;
        position: relative;
        background: pink;
        border-radius: 10%;
        .content{
            height: 100%;
            color: #4C4C4C;
            text-align: center;
            background: #fff;
        }
        .delete{
            position: absolute;
            right: 0.1rem;
            top: 0.3rem;
            height: 0.3rem;
            width:1rem;
            transform: rotate(30deg);
            background:url(../img/huzi.png)no-repeat;
            display: none;            
        }
    }
    li:nth-child(3n){
        background: orange;
    }
    li:nth-child(3n-1){
        background: greenyellow;
    }
    li.down{
        .content{
                color:#E9E9E9;
                line-height: 3rem;
                text-decoration: line-through;
        }
        .delete{
            display: block;
        }
    }
}
.foot{
    height: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    background:#DBBC85;
    div{
        float: left;
        width: 20%;
        text-align: center;
        line-height: 1rem;
        overflow:hidden;
//      margin-left: 0.02rem;
//      border-radius:0.4rem 0.4rem 0.4rem 0.4rem;
        height: 100%;
        background:#F5EFCD;
        img{
            width: 100%;
            background: cover;
        }
    }
//  div:nth-child(1){
//      background: #CA813D;
//  }
//  div:nth-child(2){
//      background: #B29844;
//  }
//  div:nth-child(3){
//      background: #C94DC7;
//  }
//  div:nth-child(4){
//      background: #D87E7E;
//  }
}







